table{
     tr {
          th {
               padding: 5px 15px 0px 15px;
               svg{
                 height: 7px;
                 width: 10px;
                 margin-left: 10px;
               } 
          }
          td {
               padding: 5px 10px;
          } 
     }     
}